<html>
<head>
 <style>
  * {
    box-sizing: border-box;
}
body {
    /*font-family: Arial, Helvetica, sans-serif;*/
}

/* Style the header */
header {
    background-color: #EAECEE;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: black;
}
/* Header 2 */
.header2 {
	text-align: center;
	font-weight:normal;
	font-size: 16px;
}
#leftColumn {
  float: left ;
  width: 32%;
  border: 1px solid black;
  margin-left: 4px;
  margin-right: 4px;
  padding: 3px;
  
}
#middleColumn {
  float: left;
  width: 32%;
 /* margin-left: 10px;*/
  border: 1px solid black;
  margin-right: 4px;
  padding: 3px;
  
}
#rightColumn {
  float: left;
  width: 32%;
  /*margin-left: 10px; */
  border: 1px solid black; 
  padding: 3px;  
  
}
#scienceprogressbar {
	width: 90%;
	background-color: #ddd;
	border: solid 1px;
	margin-left: auto;
	margin-right: auto;
}

#scibarpercent {
	width: 0%;
	height: 30px;
	background-color: #00EF7B;
	line-height: 30px;
	text-align: center;
	color: black;
}
/* Research project table */
#researchprojects {
	width: 90%;
	height: 0px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	background-color: #ddd;	
}

/* Research Button */
.projectButton {
    border-radius: 0px;
    display: block;
    height: 60px;
    width: 100%;
    /*background: #c8c8c8;*/
	background: white;
    border: 1px solid rgba(0, 0, 0, 1);
    outline: none;
    /*margin-bottom: 6px;*/
}

.projectButton:hover {
    display: block;
    height: 60px;
    width: 100%;
    background: #c8c8c8;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.projectButton:active {
    display: block;
    height: 60px;
    width: 100%;
    background: #d1d1d1;
    border: 1px solid rgba(0, 0, 0, 1);
    
}

.projectButton:disabled {
    border: none;
}


</style> 
</head>
<body>

</body>
</html>
